@model FAPP.Areas.AM.ViewModels.PurchaseReturnModelViewModel
@section topRightMenu
{
    @if (ViewBag.CanCreate)
    {
        <ul class="minitiles">
            <li class='blue' title="New Invoice">
                <a href="/AM/Purchase/AddEditPurchaseReturn">
                    <i class="fa fa-plus"></i>
                </a>
            </li>
        </ul>
    }
}

@using (Ajax.BeginForm("ManagePurchaseReturns", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divStudents", LoadingElementId = "loader" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div class="vbox singleBoxPadding form-vertical">
                <div class="">
                    <div class="form-inline">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control", @placeholder = "Search Supplier, Invoice No, Desc", @style = "width:300px;" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "datepicker form-control", @placeholder = "From Date", @style = "width:90px;" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ToDate, new { @class = "datepicker form-control", @placeholder = "From Date", @style = "width:90px;" })
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.All) All
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.WithBalance) With Balance
                        </div>
                        <input type="submit" class="btn" value="Search" title="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divStudents">
        @Html.Partial("_PartialPurchaseReturnList", Model)
    </div>

}

<script>
    $('#extendedPageHeader').html(`<p style="margin:12px 0px">
    @{
    <label class="label label-darkblue" title="Total Purchase Returns">Total: @(Model?.PurchaseReturnPagedList?.TotalItemCount??0)</label>
    } </p>`);
</script>