@model IEnumerable<FAPP.Model.FiscalYear>

@{
    if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            if (item.FiscalYearId == FAPP.DAL.SessionHelper.FiscalYearId)
            {
                <li>
                    @*<a href="@Url.Action("SaveFiscalYear","Home",new { id = item.FiscalYearId, area = "", url = Request.RawUrl })">
                        <i class="fa fa-check-square-o"></i>
                        <span data-id="1">@item.FiscalYearName</span>
                    </a>*@

                    <a data-ajax="true" data-ajax-success="OnResponceBackFromServer" href="@Url.Action("SaveFiscalYearAjax","Home", new { id = item.FiscalYearId})">
                        <i class="fa fa-check-square-o"></i>
                        <span data-id="1">@item.FiscalYearName</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    @*<a href="@Url.Action("SaveFiscalYear","Home",new { id = item.FiscalYearId, area = "", url = Request.RawUrl })">
                        <i class="fa fa-square-o"></i>
                        <span data-id="1">@item.FiscalYearName</span>
                    </a>*@
                    <a data-ajax="true" data-ajax-success="OnResponceBackFromServer" href="@Url.Action("SaveFiscalYearAjax","Home", new { id = item.FiscalYearId})">
                        <i class="fa fa-square-o"></i>
                        <span data-id="1">@item.FiscalYearName</span>
                    </a>
                </li>
            }
        }
    }
}