@model FAPP.Areas.AM.ViewModels.ManageIssuedItemsViewModel
@{
    ViewBag.Title = "Manage Issued Items";
}

@section topRightMenu{
    @if (ViewBag.CanCreate)
    {
        <ul class="minitiles link">
            <li class="green" data-toggle="tooltip" title="Issue Items">
                <a href="@Url.Action("AddEditIssuedItem", "Issue")">
                    <i class=" fa fa-plus">
                    </i>
                </a>
            </li>
        </ul>
    }
}
@using (Ajax.BeginForm("ManageIssuedItems", "Issue", new AjaxOptions
{
    OnBegin = "OnSearchBegin",
    OnSuccess = "OnSearchSuccess",
    OnFailure = "OnSearchFailure",
    UpdateTargetId = "updateTarget",
}))
{
<div class="vbox col-md-12">
    <table>
        <tr>
            <td> Issue No</td>
            <td> @Html.EditorFor(x => x.IssuedItemId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Issue No" } })</td>
            <td>Issue Date</td>
            <td>@Html.EditorFor(x => x.IssueDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Issue Date" } })</td>
            <td> Department</td>
            <td width="200px">@Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentsDD, "Value", "Text", Model.DepartmentId), "--Select Department--", htmlAttributes: new { @class = "form-control", @style = "width:100%" })
            </td>
            <td>
                <input type="submit" name="name" value="Search" class="btn btn-green" />
            </td>
        </tr>
    </table>
</div>
}
<div id="updateTarget">
    @Html.Partial("_PartialManageIssuedItem",Model)
</div>

@section scripts{
    <script>
        function OnSearchBegin(request) {
        }
        function OnSearchSuccess(response) {
        }
        function OnSearchFailure(response) {
        }

    $('#extendedPageHeader').html(`<p style="margin:11px 0px">
    @{
    <label class="label label-darkblue" title="Total Issued Items">Total: @(Model?.IssuedItems?.Count()??0)</label>
    } </p>`);
    </script>
}