
@model FAPP.Areas.AM.ViewModels.ManageRequestsViewModel
<div id="toPrint">
    <table class="gv nm table table-hover no-head-border table-responsive table-striped">
        <thead>
            <tr>
                <th width="20px">Sr.</th>
                <th>Request No</th>
                <th>Request Date</th>
                <th>Employee</th>
                <th>Department</th>
                <th>Description</th>
                <th>Status</th>
                <th>Purchase Order</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Requests != null)
            {
                var count = 0;
                foreach (var item in Model.Requests)
                {
                    <tr id="rowReq_@item.RequestId">
                        <td><span class="label label-default current-theme">@(++count)</span></td>
                        <td>
                            @Html.DisplayFor(m => item.RequestId)
                        </td>
                        <td>
                            @item.RequestDate.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.EmpName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Description)
                        </td>
                        <td>
                            @if (item.StatusId == 1)
                            {
                                <span class="label label-success colored-span Status-span  blue-span">
                                    @(item.StatusName)
                                </span>
                            }
                            else if (item.StatusId == 2)
                            {
                                <span class="label label-success colored-span Status-span  orange-span">
                                    @(item.StatusName)
                                </span>
                            }
                            else if (item.StatusId == 3)
                            {
                                <span class="label label-success colored-span Status-span  green-span">
                                    @(item.StatusName)
                                </span>
                            }
                            else
                            {
                                <span class="label label-success colored-span Status-span  purple-span">
                                    @(item.StatusName)
                                </span>
                            }
                        </td>
                        <td>
                            <a href="/AM/PurchaseOrder/AddEditPurchaseOrder/@item.PurchaseOrderId" target="_blank" title="Go to purchase order" style="color:black;">
                                @(item.PurchaseOrderId)
                            </a>
                        </td>
                        <td>
                            @*@if (ViewBag.CanUpdate)
                            {*@
                                @Html.ActionLink("Edit", "AddEditRequest", "Requests", new { id = item.RequestId }, new { @class = "btn btn-success", @style = "color:#fff !important" })
                            @*}
                            @if (ViewBag.CanDelete)
                            {*@
                                <button type="button" class="btn btn-danger" onclick="DeleteRequest(@item.RequestId)">Delete</button>
                            @*}*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    var topApproved = @Html.Raw(Json.Encode(Model.Requests?.Where(u => u.StatusName == "Approved").Count()));
    $('#topApproved').text(topApproved);
    var topDraft = @Html.Raw(Json.Encode(Model.Requests?.Where(u => u.StatusName == "Draft").Count()));
    $('#topDraft').text(topDraft);
    var topPending = @Html.Raw(Json.Encode(Model.Requests?.Where(u => u.StatusName == "Pending").Count()));
    $('#topPending').text(topPending);
</script>
